@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  margin: 10vh 0;
}

.qr-container {
  width: clamp(220px, 40vw, 300px);
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin: 0 auto;
  border-radius: 5%;
  text-align: center;
}

img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5%;
}

h1 {
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 0;
  padding: 10px 10px 10px 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 500;
  margin: 0;
  padding: 15px 0 15px 0;
}
